
@if (isFetching()) {
    <div id="loader">
    <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    </div>
} @else {

<table class="container">
    <thead>
      <tr>
        <th><h1>Name</h1></th>
        <th><h1>Rank</h1></th>
        <th><h1>Rating</h1></th>
        <th><h1>Win/Loose</h1></th>
      </tr>
    </thead>
    <tbody>
      @for (player of players; track player) {
        <tr>
          <td>{{player.character.name}}</td>
          <td>{{player.rank}}</td>
          <td>{{player.rating}}</td>
          <td>{{player.season_match_statistics.won}}/{{player.season_match_statistics.lost}}</td>
        </tr>
      }
      
    </tbody>
  </table>

  <div class="buttons-container">
    <a id="last" [href]="'/ladder/' + getLastLadderPage()">Previous</a>
    <a id="next" [href]="'/ladder/' + getNextLadderPage()">Next</a>
  </div>
  
}
  

