.header {
    color: white;
    display: flex;
    justify-content: left;
}

img {
    margin-left: 10px;
}

p {
    margin-left: 10px;
    margin-top: 5px;
}

.p-container {
    display: flex;
    flex-direction: column;
}

.Rogue {
    color: #FFF468 !important;
    text-decoration: none;
}

.Druid {
    color: #FF7C0A !important;
    text-decoration: none;
}

.Evoker {
    color: #33937F !important;
    text-decoration: none;
}

.Hunter {
    color: #AAD372 !important;
    text-decoration: none;
}

.Mage {
    color: #3FC7EB !important;
    text-decoration: none;
}

.Monk {
    color: #00FF98 !important;
    text-decoration: none;
}

.Paladin {
    color: #F48CBA !important;
    text-decoration: none;
}

.Priest {
    color: #FFFFFF !important;
    text-decoration: none;
}

.Shaman {
    color: #0070DD !important;
    text-decoration: none;
}

.Warrior {
    color: #C69B6D !important;
    text-decoration: none;
}

.Warlock {
    color: #8788EE !important;
    text-decoration: none;
}

.Death  {
    color: #C41F3B !important;
    text-decoration: none;
}

.Demon {
    color: #A330C9 !important;
    text-decoration: none;
}

#wins {
    color: #00FF00 !important;
    text-decoration: none;
}

#losses {
    color: #FF0000 !important;
    text-decoration: none;
}