<div class="header">
    <nav class="nav">
        <div class="logo">
          <a routerLink="/home">PvPWatch</a>
        </div>
         <div class="links">
        <ul>
            <li class="nav-link"><a routerLink="/home" routerLinkActive="active">Home</a></li>
            <li class="nav-link"><a routerLink="/about" routerLinkActive="active">Ladder</a></li>
            <li class="nav-link"><a routerLink="/contact" routerLinkActive="active">Check Player</a></li>
        </ul>
    </div>
    </nav>
</div>
 
